body {
  background-color: #b2d3f7;
  color:#1e262e;
   
}





p.text:not(:empty) {
  color: green;
}

p.text:empty::after {
  content: attr(title);
  color: green;
}

p:last-of-type {
  text-decoration: line-through;
}

#some_id::before {
  content: '123';
  color: orange;
  text-decoration: line-through;
}

p.main_link::first-line {
  color: green;
}

.main_link {
  color: red;
  text-decoration: none;
}
/* line-through; зачеркнутый текст */
.main_link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.main_link:active {
  text-decoration: line-through;
}

.main_link:visited {
    color: grey;
}

input:required {}
input {color: blue;}
input:focus {color: red}
