p.text:not(:empty) {
  color: green;
}

p.text:not(:empty)::after {
  content: 'some';
  color: green;
}
#some_id::after {
  content: '123';
  color: orange;
  text-decoration: line-through;
}
.main_link {
  color: red;
  text-decoration: none;
}
/* line-through; зачеркнутый текст */
.main_link:hover {
  color: blue;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.main_link:active {
  text-decoration: line-through;
}

.main_link:visited {
    color: grey;
}

input:required {}
input {color: blue;}
input:focus {color: red}
